Repository openstack/cinder: changes, and which Zuul jobs are due for each by the changed paths.
All: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

cinder-tox-bandit-baseline:
  parent: openstack-tox
  timeout: 2400
  vars:
    tox_envlist: bandit-baseline
  required-projects:
  - openstack/requirements

openstack-tox-pylint:
  voting: false
  timeout: 5400

cinder-plugin-ceph-tempest:
  parent: devstack-plugin-ceph-tempest
  roles:
  - zuul: opendev.org/openstack/cinderlib
  - zuul: opendev.org/openstack/cinder-tempest-plugin
  run: playbooks/tempest-and-cinderlib-run.yaml
  post-run: playbooks/post-cinderlib.yaml
  required-projects:
  - opendev.org/openstack/cinderlib
  vars:
  ...

openstack-tox-functional:
  voting: false

cinder-tempest-lvm-multibackend:
  parent: devstack-tempest
  description: "Cinder tempest job based on LVM and multiple backends.\nFormer names for this job were:\n  * legacy-tempest-dsvm-lvm-multibackend\n"
  timeout: 10800
  required-projects:
  - opendev.org/openstack/cinder-tempest-plugin
  vars:
    tox_envlist: all
  ...

devstack-plugin-nfs-tempest-full:
  voting: false

Add prelude to victoria release notes
  cinder/api/openstack/rest_api_version_history.rst
  releasenotes/notes/victoria-release-prelude-0fbae229ebe8f9b7.yaml
  releasenotes/notes/vxflexos-powerflex-rebrand-37dfe2b82d35b6a2.yaml
Due: none

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

PowerMax Driver - Replica rdfg suspend fix
  cinder/tests/unit/volume/drivers/dell_emc/powermax/test_powermax_common.py
  cinder/volume/drivers/dell_emc/powermax/common.py
  cinder/volume/drivers/dell_emc/powermax/fc.py
  cinder/volume/drivers/dell_emc/powermax/iscsi.py
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

[SVF]:Fixed create_flashcopy_to_consistgrp
  cinder/tests/unit/volume/drivers/ibm/test_storwize_svc.py
  cinder/volume/drivers/ibm/storwize_svc/storwize_svc_common.py
  releasenotes/notes/bug-1837524-strowize-create_consistency_group_failures-bb2a976dfe9454a4.yaml
  releasenotes/notes/bug-1890589-create_flashcopy_to_consistgrp_fix-9eeea4aaceb8a191.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Update .gitreview for stable/victoria
  .gitreview
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Update TOX_CONSTRAINTS_FILE for stable/victoria
  tox.ini
Due: openstack-tox-functional-py36, openstack-tox-pylint, openstack-tox-functional

Update master for stable/victoria
  releasenotes/source/index.rst
  releasenotes/source/victoria.rst
Due: none

doc: update new driver merge deadline
  doc/source/contributor/new_driver_checklist.rst
Due: none

Imported Translations from Zanata
  releasenotes/source/locale/fr/LC_MESSAGES/releasenotes.po
Due: none

[SVF]:Reduce slowness by caching pool information
  cinder/tests/unit/volume/drivers/ibm/test_storwize_svc.py
  cinder/volume/drivers/ibm/storwize_svc/storwize_svc_common.py
  releasenotes/notes/bug-1890591-Pool-information-is-not-saved-in-stats-22f302d941cd9fe2.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

[Trivial]Add missing print format in log message
  cinder/volume/drivers/nimble.py
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Add support for system and domain scoped tokens
  cinder/quota_utils.py
  cinder/tests/unit/test_quota_utils.py
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

PowerMax Driver - Legacy volumes fail to live migrate
  cinder/tests/unit/volume/drivers/dell_emc/powermax/powermax_data.py
  cinder/tests/unit/volume/drivers/dell_emc/powermax/test_powermax_migrate.py
  cinder/volume/drivers/dell_emc/powermax/common.py
  cinder/volume/drivers/dell_emc/powermax/fc.py
  cinder/volume/drivers/dell_emc/powermax/iscsi.py
  cinder/volume/drivers/dell_emc/powermax/masking.py
  cinder/volume/drivers/dell_emc/powermax/migrate.py
  cinder/volume/drivers/dell_emc/powermax/utils.py
  releasenotes/notes/powermax-auto-migration-5cc57773c23fef02.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

[SVF]:changes in create_group_from_src for replicated groups
  cinder/tests/unit/volume/drivers/ibm/test_storwize_svc.py
  cinder/volume/drivers/ibm/storwize_svc/storwize_svc_common.py
  releasenotes/notes/Code-changes-to-handle-groups-with-replication_enabled-or-snapshot_enabled-72f669fe2719ce3d.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Change default glance_num_retries to 3
  cinder/common/config.py
  releasenotes/notes/increase_glance_num_retries-66b455a0729c4535.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Update new contributor doc
  doc/source/contributor/contributing.rst
Due: none

doc: update Brocade FCZM documentation
  doc/source/configuration/block-storage/fc-zoning.rst
Due: none

Add release note about Brocade FCZM driver status
  releasenotes/notes/brocade-fczm-driver-victoria-2b80055ca328f31c.yaml
Due: none

Fix service_get_log tests
  cinder/tests/unit/api/contrib/test_services.py
Due: none

Critical fix for MSA 2060 and MSA 1060
  cinder/tests/unit/volume/drivers/test_seagate.py
  cinder/volume/drivers/stx/client.py
  doc/source/configuration/block-storage/drivers/hp-msa-driver.rst
  releasenotes/notes/msa2060-99150398a9c416f6.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Backup: Fix formatting errors
  cinder/backup/manager.py
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Reno: Use customized template
  reno.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Remove six of dir cinder/db/*
  cinder/db/base.py
  cinder/db/sqlalchemy/api.py
  cinder/db/sqlalchemy/migrate_repo/versions/132_create_default_volume_type.py
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Remove six of dir cinder/brick,cinder/common,cinder/interface,cinder/objects
  cinder/brick/local_dev/lvm.py
  cinder/common/sqlalchemyutils.py
  cinder/interface/base.py
  cinder/objects/volume_type.py
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Disallow extension of attached volumes for NFS & Quobyte drivers
  cinder/tests/unit/volume/drivers/test_nfs.py
  cinder/tests/unit/volume/drivers/test_quobyte.py
  cinder/volume/drivers/nfs.py
  cinder/volume/drivers/quobyte.py
  doc/source/reference/support-matrix.ini
  releasenotes/notes/bug_1870367-49b74d10a9bfcf07.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

PowerMax Train Docs - Upgrade improvement notification
  doc/source/configuration/block-storage/drivers/dell-emc-powermax-driver.rst
Due: none

[IBM DS8K]: Fixed rest API issue to get bundle
  cinder/tests/unit/volume/drivers/ibm/test_ds8k_proxy.py
  cinder/volume/drivers/ibm/ibm_storage/ds8k_helper.py
  releasenotes/notes/bug-1895510-REST-API-issue-to-get-bundle-198a3b89255759bb.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Remove six of dir cinder/scheduler/*
  cinder/scheduler/base_weight.py
  cinder/scheduler/evaluator/evaluator.py
  cinder/scheduler/filters/driver_filter.py
  cinder/scheduler/filters/json_filter.py
  cinder/scheduler/manager.py
  cinder/scheduler/weights/goodness.py
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Remove six of dir cinder/backup/*
  cinder/backup/chunkeddriver.py
  cinder/backup/driver.py
  cinder/backup/drivers/ceph.py
  cinder/backup/drivers/gcs.py
  cinder/backup/drivers/swift.py
  cinder/backup/manager.py
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

NEC driver: fix a snapshot detach error
  cinder/tests/unit/volume/drivers/nec/test_volume.py
  cinder/volume/drivers/nec/volume_helper.py
  doc/source/reference/support-matrix.ini
  releasenotes/notes/bug-1887885-nec-fix-snapshot-detach-error-fff3012e0e9a2d2b.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Remove six of dir cinder/tests/functional&hacking/*
  cinder/tests/functional/api/client.py
  cinder/tests/functional/api_samples_test_base.py
  cinder/tests/functional/test_extensions.py
  cinder/tests/hacking/checks.py
Due: openstack-tox-functional-py36, openstack-tox-pylint, openstack-tox-functional

Remove six of dir cinder/tests/unit/policies&scheduler&targets/*
  cinder/tests/unit/policies/test_default_volume_types.py
  cinder/tests/unit/policies/test_volume.py
  cinder/tests/unit/policies/test_volume_actions.py
  cinder/tests/unit/policies/test_volume_metadata.py
  cinder/tests/unit/scheduler/test_scheduler_options.py
  cinder/tests/unit/targets/test_iet_driver.py
Due: none

Remove six of dir cinder/tests/unit/volume&zonemanager/*
  cinder/tests/unit/volume/flows/test_create_volume_flow.py
  cinder/tests/unit/volume/test_volume.py
  cinder/tests/unit/zonemanager/test_brcd_http_fc_zone_client.py
  cinder/tests/unit/zonemanager/test_cisco_fc_zone_client_cli.py
Due: none

Remove six in files under cinder/*
  cinder/context.py
  cinder/exception.py
  cinder/rpc.py
  cinder/ssh_utils.py
  cinder/utils.py
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Import HTTPStatus instead of http_client
  cinder/api/contrib/admin_actions.py
  cinder/api/contrib/backups.py
  cinder/api/contrib/cgsnapshots.py
  cinder/api/contrib/consistencygroups.py
  cinder/api/contrib/qos_specs_manage.py
  cinder/api/contrib/services.py
  cinder/api/contrib/snapshot_actions.py
  cinder/api/contrib/snapshot_manage.py
  cinder/api/contrib/snapshot_unmanage.py
  cinder/api/contrib/types_extra_specs.py
  cinder/api/contrib/types_manage.py
  cinder/api/contrib/volume_actions.py
  cinder/api/contrib/volume_image_metadata.py
  cinder/api/contrib/volume_manage.py
  cinder/api/contrib/volume_transfer.py
  cinder/api/contrib/volume_type_access.py
  cinder/api/contrib/volume_type_encryption.py
  cinder/api/contrib/volume_unmanage.py
  cinder/api/middleware/auth.py
  cinder/api/middleware/fault.py
  cinder/api/openstack/wsgi.py
  cinder/api/v2/snapshot_metadata.py
  cinder/api/v2/snapshots.py
  cinder/api/v2/volume_metadata.py
  cinder/api/v2/volumes.py
  cinder/api/v3/attachments.py
  cinder/api/v3/consistencygroups.py
  cinder/api/v3/default_types.py
  cinder/api/v3/group_snapshots.py
  cinder/api/v3/group_specs.py
  cinder/api/v3/group_types.py
  cinder/api/v3/groups.py
  cinder/api/v3/messages.py
  cinder/api/v3/snapshot_manage.py
  cinder/api/v3/volume_manage.py
  cinder/api/v3/volume_metadata.py
  cinder/api/v3/volume_transfer.py
  cinder/api/v3/volumes.py
  cinder/api/v3/workers.py
  cinder/api/versions.py
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Path conditions:
  cinder-tox-bandit-baseline: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  openstack-tox-functional-py36: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/locale/.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  openstack-tox-pylint: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/locale/.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  cinder-plugin-ceph-tempest: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  openstack-tox-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/locale/.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  cinder-tempest-plugin-lvm-lio-barbican: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-cinder-mn-sub-volbak: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-tempest-lvm-multibackend: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-nfs-tempest-full: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-slow-py3: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-full: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-integrated-storage: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  grenade-py3: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-cinder-v2-api: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-multibackend-matrix: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-cinder-mn-sub-volschbak: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-cinder-mn-sub-bak: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-ceph-tempest-py3: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-full-py3-opensuse15: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
