Repository openstack/cinder: changes, and which Zuul jobs are due for each by the changed paths.
All: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

cinder-tox-bandit-baseline:
  parent: openstack-tox
  timeout: 2400
  vars:
    tox_envlist: bandit-baseline
  required-projects:
  - openstack/requirements

openstack-tox-pylint:
  voting: false
  timeout: 5400

cinder-plugin-ceph-tempest:
  parent: devstack-plugin-ceph-tempest
  roles:
  - zuul: opendev.org/openstack/cinderlib
  - zuul: opendev.org/openstack/cinder-tempest-plugin
  run: playbooks/tempest-and-cinderlib-run.yaml
  post-run: playbooks/post-cinderlib.yaml
  required-projects:
  - opendev.org/openstack/cinderlib
  vars:
  ...

openstack-tox-functional:
  voting: false

cinder-tempest-lvm-multibackend:
  parent: devstack-tempest
  description: "Cinder tempest job based on LVM and multiple backends.\nFormer names for this job were:\n  * legacy-tempest-dsvm-lvm-multibackend\n"
  timeout: 10800
  required-projects:
  - opendev.org/openstack/cinder-tempest-plugin
  vars:
    tox_envlist: all
  ...

devstack-plugin-nfs-tempest-full:
  voting: false

Imported Translations from Zanata
  cinder/locale/de/LC_MESSAGES/cinder.po
  cinder/locale/es/LC_MESSAGES/cinder.po
  cinder/locale/fr/LC_MESSAGES/cinder.po
  cinder/locale/it/LC_MESSAGES/cinder.po
  cinder/locale/ja/LC_MESSAGES/cinder.po
  cinder/locale/ko_KR/LC_MESSAGES/cinder.po
  cinder/locale/pt_BR/LC_MESSAGES/cinder.po
  cinder/locale/ru/LC_MESSAGES/cinder.po
  cinder/locale/zh_CN/LC_MESSAGES/cinder.po
  cinder/locale/zh_TW/LC_MESSAGES/cinder.po
Due: none

Pure Storage: check volumename length does not exceed maximum
  cinder/tests/unit/volume/drivers/test_pure.py
  cinder/volume/drivers/pure.py
  releasenotes/notes/bug-1870103-013e314e9a5b8e08.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Pure Storage FlashArray: Add active/active support
  cinder/volume/drivers/pure.py
  doc/source/reference/support-matrix.ini
  releasenotes/notes/pure-active-active-support-dbd0d3da3ab64e64.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Add QoS Suport for Pure Storage
  cinder/tests/unit/volume/drivers/test_pure.py
  cinder/volume/drivers/pure.py
  doc/source/configuration/block-storage/drivers/pure-storage-driver.rst
  doc/source/reference/support-matrix.ini
  releasenotes/notes/pure-storage-add-qos-37958a90beff12d6.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

[SVF] Set volume IOPS based on volume size
  cinder/tests/unit/volume/drivers/ibm/test_storwize_svc.py
  cinder/volume/drivers/ibm/storwize_svc/storwize_const.py
  cinder/volume/drivers/ibm/storwize_svc/storwize_svc_common.py
  releasenotes/notes/bug-1905988-ibm-svf-fix-volume-iops-throttling-issue-b2b89e31af5973b2.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

API validation: Add cinder_host type to support ipv6 in manage
  cinder/api/schemas/volume_manage.py
  cinder/api/validation/parameter_types.py
  cinder/tests/unit/api/contrib/test_volume_manage.py
  releasenotes/notes/bug-1904892-ipv6-nfs-manage-391118115dfaaf54.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Fix invalid yaml in reno template
  reno.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Remove six from cinder.tests.unit.objects
  cinder/tests/unit/objects/test_backup.py
  cinder/tests/unit/objects/test_cgsnapshot.py
  cinder/tests/unit/objects/test_consistencygroup.py
  cinder/tests/unit/objects/test_group.py
  cinder/tests/unit/objects/test_group_snapshot.py
  cinder/tests/unit/objects/test_group_type.py
  cinder/tests/unit/objects/test_service.py
  cinder/tests/unit/objects/test_snapshot.py
  cinder/tests/unit/objects/test_volume.py
  cinder/tests/unit/objects/test_volume_attachment.py
  cinder/tests/unit/objects/test_volume_type.py
Due: none

Add OpenStack volume replication v2.1 support in PowerStore driver
  cinder/tests/unit/volume/drivers/dell_emc/powerstore/__init__.py
  cinder/tests/unit/volume/drivers/dell_emc/powerstore/test_base.py
  cinder/tests/unit/volume/drivers/dell_emc/powerstore/test_replication.py
  cinder/tests/unit/volume/drivers/dell_emc/powerstore/test_snapshot_create_delete_revert.py
  cinder/tests/unit/volume/drivers/dell_emc/powerstore/test_volume_attach_detach.py
  cinder/tests/unit/volume/drivers/dell_emc/powerstore/test_volume_create_delete_extend.py
  cinder/tests/unit/volume/drivers/dell_emc/powerstore/test_volume_create_from_source.py
  cinder/volume/drivers/dell_emc/powerstore/adapter.py
  cinder/volume/drivers/dell_emc/powerstore/client.py
  cinder/volume/drivers/dell_emc/powerstore/driver.py
  cinder/volume/drivers/dell_emc/powerstore/options.py
  cinder/volume/drivers/dell_emc/powerstore/utils.py
  doc/source/configuration/block-storage/drivers/dell-emc-powerstore-driver.rst
  doc/source/reference/support-matrix.ini
  releasenotes/notes/bp-powerstore-replication-support-700016b83437602e.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Add Consistency Groups support in PowerStore driver
  cinder/tests/unit/volume/drivers/dell_emc/powerstore/test_volume_create_from_source.py
  cinder/tests/unit/volume/drivers/dell_emc/powerstore/test_volume_group_create_delete_update.py
  cinder/tests/unit/volume/drivers/dell_emc/powerstore/test_volume_group_create_from_source.py
  cinder/tests/unit/volume/drivers/dell_emc/powerstore/test_volume_group_snapshot_create_delete.py
  cinder/volume/drivers/dell_emc/powerstore/adapter.py
  cinder/volume/drivers/dell_emc/powerstore/client.py
  cinder/volume/drivers/dell_emc/powerstore/driver.py
  cinder/volume/drivers/dell_emc/powerstore/utils.py
  doc/source/configuration/block-storage/drivers/dell-emc-powerstore-driver.rst
  doc/source/reference/support-matrix.ini
  releasenotes/notes/bp-powerstore-cg-support-ac1842d2041dcbfd.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Pure: Add default value to pure_host_personality
  cinder/volume/drivers/pure.py
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

PowerMax Driver - Release notes for 761643 and 767172
  releasenotes/notes/powermax-expand-replicated-volume-124c62ea78b1c347.yaml
  releasenotes/notes/powermax_port-check_enhancement-c95dd94328f31524.yaml
Due: none

Support format info in fs type drivers
  cinder/api/v3/attachments.py
  cinder/image/image_utils.py
  cinder/tests/unit/test_image_utils.py
  cinder/tests/unit/volume/drivers/netapp/dataontap/test_nfs_base.py
  cinder/tests/unit/volume/drivers/test_nfs.py
  cinder/tests/unit/volume/drivers/test_remotefs.py
  cinder/volume/drivers/netapp/dataontap/nfs_base.py
  cinder/volume/drivers/nfs.py
  cinder/volume/drivers/remotefs.py
  releasenotes/notes/store-volume-format-info-1e17e029a9a9e578.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Add iSCSI IPv6 support to Dell EMC XtremIO driver
  cinder/tests/unit/volume/drivers/dell_emc/test_xtremio.py
  cinder/volume/drivers/dell_emc/xtremio.py
  releasenotes/notes/bug-1918889-xtremio-iscsi-ipv6-05c59b897da5c01b.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

API validation: Use cinder_host for services checks
  cinder/api/schemas/services.py
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Add support for RBD fast-diff feature for backups stored in Ceph
  cinder/backup/drivers/ceph.py
  cinder/tests/unit/backup/drivers/test_backup_ceph.py
  releasenotes/notes/bug-1907964-9277e5ddec2abeda.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

NetApp ONTAP: Implement FlexGroup pool
  cinder/tests/unit/volume/drivers/netapp/dataontap/client/fakes.py
  cinder/tests/unit/volume/drivers/netapp/dataontap/client/test_client_cmode.py
  cinder/tests/unit/volume/drivers/netapp/dataontap/fakes.py
  cinder/tests/unit/volume/drivers/netapp/dataontap/performance/test_perf_cmode.py
  cinder/tests/unit/volume/drivers/netapp/dataontap/test_block_cmode.py
  cinder/tests/unit/volume/drivers/netapp/dataontap/test_nfs_base.py
  cinder/tests/unit/volume/drivers/netapp/dataontap/test_nfs_cmode.py
  cinder/tests/unit/volume/drivers/netapp/dataontap/utils/fakes.py
  cinder/tests/unit/volume/drivers/netapp/dataontap/utils/test_capabilities.py
  cinder/tests/unit/volume/drivers/netapp/dataontap/utils/test_data_motion.py
  cinder/volume/drivers/netapp/dataontap/client/client_cmode.py
  cinder/volume/drivers/netapp/dataontap/nfs_base.py
  cinder/volume/drivers/netapp/dataontap/nfs_cmode.py
  cinder/volume/drivers/netapp/dataontap/performance/perf_cmode.py
  cinder/volume/drivers/netapp/dataontap/utils/capabilities.py
  cinder/volume/drivers/netapp/dataontap/utils/data_motion.py
  releasenotes/notes/bp-netapp-flexgroup-support-c462fca33f0d8906.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Add virtualenv requirement to tox.ini
  tox.ini
Due: openstack-tox-functional-py36, openstack-tox-pylint, openstack-tox-functional

Dropping explicit unicode literal
  cinder/tests/unit/api/contrib/test_backups.py
  cinder/tests/unit/api/contrib/test_services.py
  cinder/tests/unit/api/contrib/test_snapshot_manage.py
  cinder/tests/unit/api/contrib/test_types_manage.py
  cinder/tests/unit/api/contrib/test_volume_actions.py
  cinder/tests/unit/api/contrib/test_volume_type_access.py
  cinder/tests/unit/api/v3/test_cluster.py
  doc/source/conf.py
Due: none

NFS: Fix for groups and cloning
  cinder/tests/unit/volume/drivers/test_remotefs.py
  cinder/volume/drivers/remotefs.py
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Add support for consistency groups in the Nimble Storage driver
  cinder/tests/unit/volume/drivers/test_nimble.py
  cinder/volume/drivers/nimble.py
  doc/source/configuration/block-storage/drivers/nimble-volume-driver.rst
  doc/source/reference/support-matrix.ini
  releasenotes/notes/nimble-consistency-groups-support-7c932d5557fa725e.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Label temporary files created by image_utils
  cinder/image/image_utils.py
  cinder/tests/unit/test_image_utils.py
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

NetApp SolidFire: Refactor DuplicateSfVolumeNames exception
  cinder/volume/drivers/solidfire.py
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Always constraint dependencies in tox
  tox.ini
Due: openstack-tox-functional-py36, openstack-tox-pylint, openstack-tox-functional

Resolve SADeprecationWarning for joinedload_all
  cinder/db/sqlalchemy/api.py
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

[SVF]:Storwize hyperswap volume is not deleting.
  cinder/tests/unit/volume/drivers/ibm/test_storwize_svc.py
  cinder/volume/drivers/ibm/storwize_svc/storwize_svc_common.py
  releasenotes/notes/bug-1912564-strowize-hyperswap-volume-is-not-deleting-a94291248f8f59cd.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Changed whitelist to allowlist in tox
  tox.ini
Due: openstack-tox-functional-py36, openstack-tox-pylint, openstack-tox-functional

[SVF]: Volume name is not validated for host
  cinder/tests/unit/volume/drivers/ibm/test_storwize_svc.py
  cinder/volume/drivers/ibm/storwize_svc/storwize_svc_common.py
  releasenotes/notes/bug-1892034-Volume-name-is-not-validated-for-host-4ec0d1bd14281c77.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Fix automatic quota sync for migrating volumes
  cinder/db/sqlalchemy/api.py
  cinder/tests/unit/test_db_api.py
  releasenotes/notes/quota-sync-migrating-2c99e134e117a945.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Fix old attach method
  cinder/objects/volume.py
  cinder/volume/api.py
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Remove unnecessary save call
  cinder/volume/api.py
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Fix volume OVO create method
  cinder/objects/volume.py
  cinder/volume/api.py
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Add explanations on safe delete
  cinder/interface/volume_driver.py
  cinder/volume/driver.py
  doc/source/admin/blockstorage-security.rst
  doc/source/admin/index.rst
  doc/source/configuration/block-storage/volume-drivers.rst
  doc/source/configuration/block-storage/volume-encryption.rst
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

doc: Remove cryptsetup reference for compute setup
  doc/source/configuration/block-storage/volume-encryption.rst
Due: none

Update code layout and missing Zadara features
  cinder/opts.py
  cinder/tests/unit/volume/drivers/test_zadara.py
  cinder/volume/drivers/zadara.py
  cinder/volume/drivers/zadara/__init__.py
  cinder/volume/drivers/zadara/common.py
  cinder/volume/drivers/zadara/exception.py
  cinder/volume/drivers/zadara/zadara.py
  cinder/volume/manager.py
  doc/source/configuration/block-storage/drivers/zadara-volume-driver.rst
  doc/source/reference/support-matrix.ini
  releasenotes/notes/Zadara-newlayout-support-features-ffa20694c008ba86.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

JovianDSS: add certs and snapshot restore
  cinder/tests/unit/volume/drivers/open_e/test_iscsi.py
  cinder/tests/unit/volume/drivers/open_e/test_rest.py
  cinder/tests/unit/volume/drivers/open_e/test_rest_proxy.py
  cinder/volume/drivers/open_e/iscsi.py
  cinder/volume/drivers/open_e/jovian_common/exception.py
  cinder/volume/drivers/open_e/jovian_common/rest.py
  cinder/volume/drivers/open_e/jovian_common/rest_proxy.py
  cinder/volume/drivers/open_e/options.py
  doc/source/configuration/block-storage/drivers/open-e-joviandss-driver.rst
  doc/source/reference/support-matrix.ini
  releasenotes/notes/bp-jdss-add-cert-and-snapshot-revert-b34f352754ad07de.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Remove six from quota.py
  cinder/quota.py
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Tests: Don't assert notifier not called
  cinder/tests/unit/volume/test_volume.py
Due: none

Path conditions:
  cinder-tox-bandit-baseline: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  openstack-tox-functional-py36: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/locale/.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  openstack-tox-pylint: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/locale/.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  cinder-plugin-ceph-tempest: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  openstack-tox-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/locale/.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  cinder-tempest-plugin-lvm-lio-barbican: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-cinder-mn-sub-volbak: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-tempest-lvm-multibackend: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-nfs-tempest-full: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-slow-py3: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-full: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-integrated-storage: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  grenade-py3: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-cinder-v2-api: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-multibackend-matrix: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-cinder-mn-sub-volschbak: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-cinder-mn-sub-bak: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-ceph-tempest-py3: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-full-py3-opensuse15: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
