Repository openstack/cinder: changes, and which Zuul jobs are due for each by the changed paths.
All: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Path conditions:
  cinder-tox-bandit-baseline: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  openstack-tox-functional-py36: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/locale/.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  openstack-tox-pylint: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/locale/.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  cinder-plugin-ceph-tempest: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  openstack-tox-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/locale/.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  cinder-tempest-plugin-lvm-lio-barbican: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-cinder-mn-sub-volbak: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-tempest-lvm-multibackend: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-nfs-tempest-full: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-slow-py3: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-full: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-integrated-storage: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  grenade-py3: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-cinder-v2-api: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-multibackend-matrix: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-cinder-mn-sub-volschbak: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-cinder-mn-sub-bak: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-ceph-tempest-py3: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-full-py3-opensuse15: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$

PowerMax Driver - Fix assign SRP during promotion retype
  cinder/tests/unit/volume/drivers/dell_emc/powermax/test_powermax_replication.py
  cinder/volume/drivers/dell_emc/powermax/common.py
  releasenotes/notes/bug-1905564-e7dcf28fd734d3b2.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

NetApp SolidFire: Fix failback failing after service restart
  cinder/tests/unit/volume/drivers/solidfire/test_solidfire.py
  cinder/volume/drivers/solidfire.py
  releasenotes/notes/bug-1859653-solidfire-fix-failover-after-service-restart-77e5e4da45c9c1aa.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Fix volume rekey during clone
  cinder/tests/unit/volume/test_volume.py
  cinder/volume/flows/manager/create_volume.py
  releasenotes/notes/bug-1904440-clone-rekey-fd57a2b5f6224e0f.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

NetApp SolidFire: Fix clone and request timeout issues
  cinder/tests/unit/volume/drivers/solidfire/test_solidfire.py
  cinder/volume/drivers/solidfire.py
  releasenotes/notes/sf-fix-clone-and-request-timeout-issues-56f7a7659c7ec775.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

[IBM DS8000]: Fix compatability issue in get_host
  cinder/volume/drivers/ibm/ibm_storage/ds8k_helper.py
  releasenotes/notes/bug-1903648-ds8k-ostype-compatability-support-a86f608d8c014a29.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Fixed an issue with creating a backup from snapshot with NFS volume driver.
  cinder/tests/unit/volume/drivers/test_nfs.py
  cinder/volume/drivers/remotefs.py
  releasenotes/notes/bug-1888951-backup-from-nfs-snapshot-2e06235eb318b852.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Exception type is not iterable so should change it to string type
  cinder/volume/drivers/dell_emc/powermax/provision.py
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

[SVF]:Fix in change_vdisk_iogrp during retype
  cinder/tests/unit/volume/drivers/ibm/test_storwize_svc.py
  cinder/volume/drivers/ibm/storwize_svc/storwize_svc_common.py
  releasenotes/notes/bug-1896214-Fix-in-change_vdisk_iogrp-during-retype-ef83ccf27d8829f5.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

add openstack-python3-wallaby-jobs-arm64 job
  .zuul.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Add CHAP support to Dell EMC PowerStore driver
  cinder/tests/unit/volume/drivers/dell_emc/powerstore/test_base.py
  cinder/tests/unit/volume/drivers/dell_emc/powerstore/test_snapshot_create_delete_revert.py
  cinder/tests/unit/volume/drivers/dell_emc/powerstore/test_volume_attach_detach.py
  cinder/tests/unit/volume/drivers/dell_emc/powerstore/test_volume_create_delete_extend.py
  cinder/tests/unit/volume/drivers/dell_emc/powerstore/test_volume_create_from_source.py
  cinder/volume/drivers/dell_emc/powerstore/adapter.py
  cinder/volume/drivers/dell_emc/powerstore/client.py
  cinder/volume/drivers/dell_emc/powerstore/driver.py
  cinder/volume/drivers/dell_emc/powerstore/utils.py
  doc/source/configuration/block-storage/drivers/dell-emc-powerstore-driver.rst
  releasenotes/notes/bug-1900979-powerstore-chap-support.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Update requirements and lower-constraints
  lower-constraints.txt
  requirements.txt
  test-requirements.txt
Due: openstack-tox-functional-py36, openstack-tox-pylint, openstack-tox-functional

RBD: Retry delete if VolumeIsBusy in _copy_image_to_volume
  cinder/tests/unit/volume/drivers/test_rbd.py
  cinder/volume/drivers/rbd.py
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

RBD: Change rbd_exclusive_cinder_pool's default
  cinder/volume/drivers/rbd.py
  doc/source/configuration/block-storage/drivers/ceph-rbd-volume-driver.rst
  releasenotes/notes/change-default-rbd_exclusive_cinder_pool-e59c528c7f728780.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

[goal] Deprecate the JSON formatted policy file
  cinder/policy.py
  cinder/tests/unit/policy.json
  cinder/tests/unit/policy.yaml
  cinder/tests/unit/test.py
  doc/source/admin/blockstorage-consistency-groups.rst
  doc/source/admin/blockstorage-volume-multiattach.rst
  doc/source/configuration/block-storage/block-storage-overview.rst
  doc/source/configuration/block-storage/policy-config-HOWTO.rst
  doc/source/configuration/block-storage/policy.rst
  doc/source/configuration/block-storage/samples/policy.yaml.rst
  lower-constraints.txt
  releasenotes/notes/deprecate-json-formatted-policy-file-dc3441a7b1dbfb47.yaml
  requirements.txt
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Cap bandit to v1.6.2
  test-requirements.txt
Due: openstack-tox-functional-py36, openstack-tox-pylint, openstack-tox-functional

Correct group:reset_group_snapshot_status policy
  cinder/policies/group_snapshot_actions.py
  releasenotes/notes/bug-1908315-020fea3e244d49bb.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

[SVF]:Fix clone fcmap not being deleted in cleanup
  cinder/tests/unit/volume/drivers/ibm/test_storwize_svc.py
  cinder/volume/drivers/ibm/storwize_svc/storwize_svc_common.py
  releasenotes/notes/bug-1890254-clone-fcmap-is-not-deleting-in-cleanup-f5bbb467be1b889d.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

[SVF]:Reduce slowness by caching pool information
  cinder/tests/unit/volume/drivers/ibm/test_storwize_svc.py
  cinder/volume/drivers/ibm/storwize_svc/storwize_svc_common.py
  releasenotes/notes/bug-1890591-Pool-information-is-not-saved-in-stats-22f302d941cd9fe2.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

[RBD] Fix snapshot backup name
  cinder/backup/drivers/ceph.py
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Adjust requirements and lower-constraints
  lower-constraints.txt
  requirements.txt
Due: openstack-tox-functional-py36, openstack-tox-pylint, openstack-tox-functional

Add docs and update support matrix for Hitachi driver
  doc/source/configuration/block-storage/drivers/hitachi-vsp-driver.rst
  doc/source/reference/support-matrix.ini
Due: none

PowerMax Driver - Promotion RDF Group number fix
  cinder/tests/unit/volume/drivers/dell_emc/powermax/test_powermax_replication.py
  cinder/volume/drivers/dell_emc/powermax/common.py
  releasenotes/notes/promotion_rdfg_num_fix-65a5838277ac8edf.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Basic volume QoS doc.
  doc/source/admin/blockstorage-basic-volume-qos.rst
Due: none

Adjust requirements and lower-constraints
  lower-constraints.txt
  requirements.txt
  test-requirements.txt
Due: openstack-tox-functional-py36, openstack-tox-pylint, openstack-tox-functional

Hitachi: Wait until the volume can be deleted
  cinder/tests/unit/volume/drivers/hitachi/test_hitachi_hbsd_rest_fc.py
  cinder/volume/drivers/hitachi/hbsd_rest.py
  releasenotes/notes/hitachi-fix-delete-volume-issues-e648525e597505fd.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

pylint: run coding-checks.sh with bash
  tools/coding-checks.sh
Due: openstack-tox-functional-py36, openstack-tox-pylint, openstack-tox-functional

Tests: Improve cascade delete coverage
  cinder/tests/unit/volume/test_volume.py
Due: none

tox mypy: Call mypywrap.sh directly
  tools/mypywrap.sh
  tox.ini
Due: openstack-tox-functional-py36, openstack-tox-pylint, openstack-tox-functional

doc: update release cycle tasks
  doc/source/contributor/cinder-groups.rst
  doc/source/contributor/index.rst
  doc/source/contributor/releasecycle.rst
Due: none

Remove __unicode__() from CinderException
  cinder/exception.py
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Tests: Fix rbd unit test failure due to ceph keyring file
  cinder/tests/unit/volume/drivers/test_rbd.py
Due: none
