Repository openstack/cinder: changes, and which Zuul jobs are due for each by the changed paths.
All: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Path conditions:
  cinder-tox-bandit-baseline: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  openstack-tox-functional-py36: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/locale/.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  openstack-tox-pylint: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/locale/.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  cinder-plugin-ceph-tempest: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  openstack-tox-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/locale/.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  cinder-tempest-plugin-lvm-lio-barbican: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-cinder-mn-sub-volbak: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-tempest-lvm-multibackend: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-nfs-tempest-full: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-slow-py3: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-full: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-integrated-storage: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  grenade-py3: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-cinder-v2-api: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-multibackend-matrix: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-cinder-mn-sub-volschbak: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-cinder-mn-sub-bak: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-ceph-tempest-py3: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-full-py3-opensuse15: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$

Remove six of dir cinder/tests/unit/backup/*
  cinder/tests/unit/backup/drivers/test_backup_ceph.py
  cinder/tests/unit/backup/drivers/test_backup_nfs.py
  cinder/tests/unit/backup/drivers/test_backup_posix.py
  cinder/tests/unit/backup/fake_google_client.py
  cinder/tests/unit/backup/fake_swift_client.py
  cinder/tests/unit/backup/fake_swift_client2.py
  cinder/tests/unit/backup/test_backup.py
Due: none

PowerMax Driver - Safeguarding retype to some in-use replicated modes
  cinder/tests/unit/volume/drivers/dell_emc/powermax/powermax_data.py
  cinder/tests/unit/volume/drivers/dell_emc/powermax/test_powermax_common.py
  cinder/tests/unit/volume/drivers/dell_emc/powermax/test_powermax_provision.py
  cinder/tests/unit/volume/drivers/dell_emc/powermax/test_powermax_replication.py
  cinder/tests/unit/volume/drivers/dell_emc/powermax/test_powermax_utils.py
  cinder/volume/drivers/dell_emc/powermax/common.py
  cinder/volume/drivers/dell_emc/powermax/fc.py
  cinder/volume/drivers/dell_emc/powermax/iscsi.py
  cinder/volume/drivers/dell_emc/powermax/metadata.py
  cinder/volume/drivers/dell_emc/powermax/provision.py
  cinder/volume/drivers/dell_emc/powermax/rest.py
  cinder/volume/drivers/dell_emc/powermax/utils.py
  releasenotes/notes/powermax-disable-inuse-metro-89e9f398ec9e2672.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Add Cinder driver for Open-E JovianDSS data storage
  cinder/opts.py
  cinder/tests/unit/volume/drivers/open_e/__init__.py
  cinder/tests/unit/volume/drivers/open_e/test_iscsi.py
  cinder/tests/unit/volume/drivers/open_e/test_rest.py
  cinder/volume/drivers/open_e/__init__.py
  cinder/volume/drivers/open_e/iscsi.py
  cinder/volume/drivers/open_e/jovian_common/__init__.py
  cinder/volume/drivers/open_e/jovian_common/exception.py
  cinder/volume/drivers/open_e/jovian_common/jdss_common.py
  cinder/volume/drivers/open_e/jovian_common/rest.py
  cinder/volume/drivers/open_e/jovian_common/rest_proxy.py
  cinder/volume/drivers/open_e/options.py
  doc/source/configuration/block-storage/drivers/open-e-joviandss-driver.rst
  releasenotes/notes/joviandss-iscsi-driver-0becc6ee6a0b3c0a.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

PowerMax Driver - Legacy volumes fail to live migrate
  cinder/tests/unit/volume/drivers/dell_emc/vmax/test_vmax.py
  cinder/volume/drivers/dell_emc/vmax/common.py
  cinder/volume/drivers/dell_emc/vmax/fc.py
  cinder/volume/drivers/dell_emc/vmax/iscsi.py
  cinder/volume/drivers/dell_emc/vmax/masking.py
  cinder/volume/drivers/dell_emc/vmax/migrate.py
  cinder/volume/drivers/dell_emc/vmax/utils.py
  releasenotes/notes/powermax-auto-migration-5cc57773c23fef02.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Nimble: Add support for revert to snapshot
  cinder/tests/unit/volume/drivers/test_nimble.py
  cinder/volume/drivers/nimble.py
  doc/source/configuration/block-storage/drivers/nimble-volume-driver.rst
  doc/source/reference/support-matrix.ini
  releasenotes/notes/1899512-7a872a2c19e53536.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Remove six of dir cinder/image/*
  cinder/image/accelerator.py
  cinder/image/cache.py
  cinder/image/glance.py
  cinder/image/image_utils.py
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Preparing for removal of six.reraise()
  cinder/tests/unit/image/test_glance.py
Due: none

Import HTTPStatus instead of http_client (policy tests)
  cinder/tests/unit/policies/test_default_volume_types.py
  cinder/tests/unit/policies/test_volume.py
  cinder/tests/unit/policies/test_volume_actions.py
  cinder/tests/unit/policies/test_volume_metadata.py
Due: none

RBD: Run flatten in a different thread when cloning a volume
  cinder/tests/unit/volume/drivers/test_rbd.py
  cinder/volume/drivers/rbd.py
  releasenotes/notes/bug-1898918-b24a93d7d5aff238.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Remove six of dir cinder/volume/*
  cinder/volume/api.py
  cinder/volume/driver.py
  cinder/volume/flows/api/create_volume.py
  cinder/volume/flows/common.py
  cinder/volume/flows/manager/create_volume.py
  cinder/volume/group_types.py
  cinder/volume/manager.py
  cinder/volume/targets/driver.py
  cinder/volume/targets/nvmet.py
  cinder/volume/volume_utils.py
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Remove six of files under cinder/test/unit
  cinder/tests/unit/fake_utils.py
  cinder/tests/unit/test.py
  cinder/tests/unit/test_api.py
  cinder/tests/unit/test_cmd.py
  cinder/tests/unit/test_db_api.py
  cinder/tests/unit/test_db_worker_api.py
  cinder/tests/unit/test_exception.py
  cinder/tests/unit/test_manager.py
  cinder/tests/unit/test_qos_specs.py
  cinder/tests/unit/test_quota.py
  cinder/tests/unit/test_utils.py
  cinder/tests/unit/test_volume_utils.py
  cinder/tests/unit/utils.py
Due: none

Refactor some unit tests
  cinder/tests/unit/test_image_utils.py
  cinder/tests/unit/test_ssh_utils.py
Due: none

Add mypy tox env
  .gitignore
  cinder/tests/stubs/oslo_i18n/__init__.pyi
  cinder/tests/stubs/oslo_i18n/_factory.pyi
  cinder/tests/stubs/oslo_i18n/_gettextutils.pyi
  cinder/tests/stubs/oslo_i18n/_i18n.pyi
  cinder/tests/stubs/oslo_i18n/_lazy.pyi
  cinder/tests/stubs/oslo_i18n/_locale.pyi
  cinder/tests/stubs/oslo_i18n/_message.pyi
  cinder/tests/stubs/oslo_i18n/_translate.pyi
  cinder/tests/stubs/oslo_i18n/fixture.pyi
  cinder/tests/stubs/oslo_i18n/log.pyi
  lower-constraints.txt
  mypy-files.txt
  setup.cfg
  test-requirements.txt
  tools/mypywrap.sh
  tox.ini
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Fix revert snapshot issue
  cinder/tests/unit/volume/drivers/ibm/test_storwize_svc.py
  cinder/volume/drivers/ibm/storwize_svc/storwize_svc_common.py
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Fix revert to snapshot for non admins
  cinder/tests/unit/volume/test_snapshot.py
  cinder/volume/api.py
  releasenotes/notes/revert-snapshot-non-admin-8485be55060eab0d.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Fix cinder-manage cluster remove raising NoSuchOptError
  cinder/cmd/manage.py
  cinder/tests/unit/test_cmd.py
  releasenotes/notes/bug-1894381-fix-cinder-manage-cluster-remove-raising-nosuchopterror.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

NetApp SolidFire: Fix pylint issues
  cinder/tests/unit/volume/drivers/solidfire/test_solidfire.py
  cinder/volume/drivers/solidfire.py
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

NetApp SolidFire: Fix retype to SolidFire
  cinder/tests/unit/volume/drivers/solidfire/test_solidfire.py
  cinder/volume/drivers/solidfire.py
  releasenotes/notes/bug-1859652-netapp-fix-retype-attached-volume-to-solidfire-1933f03673ff078d.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Imported Translations from Zanata
  cinder/locale/ja/LC_MESSAGES/cinder.po
  cinder/locale/zh_CN/LC_MESSAGES/cinder.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/fr/LC_MESSAGES/releasenotes.po
Due: none

PowerMax Driver - Fix non-temporary snapshot delete
  cinder/tests/unit/volume/drivers/dell_emc/powermax/test_powermax_common.py
  cinder/volume/drivers/dell_emc/powermax/common.py
  cinder/volume/drivers/dell_emc/powermax/fc.py
  cinder/volume/drivers/dell_emc/powermax/iscsi.py
  releasenotes/notes/bug-1887962-643379faf20f01cf.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Remove collections.abc backwards compatibility
  cinder/cmd/manage.py
  cinder/objects/base.py
  cinder/objects/cleanable.py
  cinder/tests/unit/volume/drivers/netapp/dataontap/test_block_driver_interfaces.py
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

NetApp SolidFire: Fix clone and request timeout issues
  cinder/tests/unit/volume/drivers/solidfire/test_solidfire.py
  cinder/volume/drivers/solidfire.py
  releasenotes/notes/sf-fix-clone-and-request-timeout-issues-56f7a7659c7ec775.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

[Trivial] Fix missing print format and missing white spaces
  cinder/volume/drivers/open_e/iscsi.py
  cinder/volume/drivers/open_e/jovian_common/rest_proxy.py
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Fix: listing volumes with filters
  cinder/tests/unit/api/v3/test_volumes.py
  cinder/volume/api.py
  releasenotes/notes/fix-list-volume-filtering-3f2bf93ab9b98974.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Fix: show volume transfer by name for non-admins
  cinder/tests/unit/test_volume_transfer.py
  cinder/transfer/api.py
  releasenotes/notes/fix-show-transfer-for-non-admins-be001d79975b325d.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Fix service_get_log tests
  cinder/tests/unit/api/contrib/test_services.py
Due: none

Make docs build parallel
  doc/ext/cinder_driverlist.py
  doc/ext/driver_opts.py
  doc/requirements.txt
  tox.ini
Due: openstack-tox-functional-py36, openstack-tox-pylint, openstack-tox-functional

[IBM DS8K]: Fixed rest API issue to get bundle
  cinder/tests/unit/volume/drivers/ibm/test_ds8k_proxy.py
  cinder/volume/drivers/ibm/ibm_storage/ds8k_helper.py
  releasenotes/notes/bug-1895510-REST-API-issue-to-get-bundle-198a3b89255759bb.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

[SVF] RevertToSnapshot support for GM volumes
  cinder/tests/unit/volume/drivers/ibm/test_storwize_svc.py
  cinder/volume/drivers/ibm/storwize_svc/storwize_svc_common.py
  releasenotes/notes/svf-revert-to-snapshot-globalmirror-volume-e70fdb9115020283.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

NetApp ONTAP: Fix extend volume for iSCSI/FCP
  cinder/tests/unit/volume/drivers/netapp/dataontap/client/test_client_base.py
  cinder/tests/unit/volume/drivers/netapp/dataontap/client/test_client_cmode.py
  cinder/tests/unit/volume/drivers/netapp/dataontap/fakes.py
  cinder/tests/unit/volume/drivers/netapp/dataontap/test_block_base.py
  cinder/tests/unit/volume/drivers/netapp/dataontap/test_block_cmode.py
  cinder/volume/drivers/netapp/dataontap/block_base.py
  cinder/volume/drivers/netapp/dataontap/block_cmode.py
  cinder/volume/drivers/netapp/dataontap/client/api.py
  cinder/volume/drivers/netapp/dataontap/client/client_base.py
  cinder/volume/drivers/netapp/dataontap/client/client_cmode.py
  doc/source/reference/support-matrix.ini
  releasenotes/notes/bug-1874134-netapp-ONTAP-fix-max-resize-size-ad2d88da8721560e.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Fix service-get-log to respect server filters
  cinder/api/contrib/services.py
  cinder/tests/unit/api/contrib/test_services.py
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Bump minimum version of oslo.log
  lower-constraints.txt
  requirements.txt
Due: openstack-tox-functional-py36, openstack-tox-pylint, openstack-tox-functional

Imported Translations from Zanata
  cinder/locale/de/LC_MESSAGES/cinder.po
  cinder/locale/es/LC_MESSAGES/cinder.po
  cinder/locale/fr/LC_MESSAGES/cinder.po
  cinder/locale/it/LC_MESSAGES/cinder.po
  cinder/locale/ja/LC_MESSAGES/cinder.po
  cinder/locale/ko_KR/LC_MESSAGES/cinder.po
  cinder/locale/pt_BR/LC_MESSAGES/cinder.po
  cinder/locale/ru/LC_MESSAGES/cinder.po
  cinder/locale/zh_CN/LC_MESSAGES/cinder.po
  cinder/locale/zh_TW/LC_MESSAGES/cinder.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Do not fail when depth is greater than rbd_max_clone_depth
  cinder/volume/drivers/rbd.py
  releasenotes/notes/bug-1901241-361b1b361bfa5152.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

[doc]Fix an invalid url link in docs
  cinder/api/openstack/rest_api_version_history.rst
Due: none

Fix invalid asert_called_with statement
  cinder/tests/unit/volume/drivers/solidfire/test_solidfire.py
Due: none
