Repository openstack/cinder: changes, and which Zuul jobs are due for each by the changed paths.
All: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Path conditions:
  cinder-tox-bandit-baseline: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  openstack-tox-functional-py36: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/locale/.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  openstack-tox-pylint: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/locale/.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  cinder-plugin-ceph-tempest: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  openstack-tox-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/locale/.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  cinder-tempest-plugin-lvm-lio-barbican: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-cinder-mn-sub-volbak: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-tempest-lvm-multibackend: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-nfs-tempest-full: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-slow-py3: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-full: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-integrated-storage: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  grenade-py3: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-cinder-v2-api: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-multibackend-matrix: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-cinder-mn-sub-volschbak: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-cinder-mn-sub-bak: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-ceph-tempest-py3: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-full-py3-opensuse15: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$

Prevent quota and reservations to go into negative
  cinder/db/sqlalchemy/api.py
  cinder/tests/unit/test_db_api.py
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Quota: Fix multiple race conditions
  cinder/db/sqlalchemy/api.py
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Set Wallaby maximum mv in REST API version history
  cinder/api/openstack/rest_api_version_history.rst
Due: none

Add prelude for Wallaby release notes
  releasenotes/notes/wallaby-prelude-661b619978e1b339.yaml
Due: none

Remove unused _db_error code from cmd/manage.py
  cinder/cmd/manage.py
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Use os-brick 4.3.1
  lower-constraints.txt
  requirements.txt
Due: openstack-tox-functional-py36, openstack-tox-pylint, openstack-tox-functional

Cinder - Creating clone of encrypted volume fails
  cinder/tests/unit/volume/flows/test_create_volume_flow.py
  cinder/volume/flows/manager/create_volume.py
  releasenotes/notes/cinder-clone-encrypted-a28338e2b1838a63.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

api-ref: add additional info for mv 3.64
  api-ref/source/v3/parameters.yaml
Due: none

Change snapshots type with volume retype
  cinder/quota_utils.py
  cinder/tests/unit/test_quota.py
  cinder/tests/unit/volume/test_volume_migration.py
  cinder/volume/api.py
  cinder/volume/manager.py
  releasenotes/notes/quota-on-retype-with-snapshots-2d9fc7b2c75f899d.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Add quota utils to cinder-manage
  cinder/cmd/manage.py
  doc/source/cli/cinder-manage.rst
  releasenotes/notes/cinder-manage-quota-ed4ee17f7097d11f.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

LVM: Fix delete volume error due to lvs failure
  cinder/brick/local_dev/lvm.py
  cinder/tests/unit/brick/test_brick_lvm.py
  cinder/tests/unit/test_utils.py
  cinder/utils.py
  cinder/volume/drivers/dell_emc/sc/storagecenter_api.py
  cinder/volume/drivers/dell_emc/vnx/client.py
  cinder/volume/drivers/inspur/as13000/as13000_driver.py
  releasenotes/notes/lvm-delete-error-f12da00c1b3859dc.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Remove unused quota python classes
  cinder/quota.py
  cinder/tests/unit/test_quota.py
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Quota: Fix until_refresh config changes
  cinder/db/sqlalchemy/api.py
  cinder/tests/unit/test_quota.py
  releasenotes/notes/quota-until_refresh-updated-d35e8530f30c5522.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Remove nested quota leftovers
  cinder/api/contrib/quotas.py
  cinder/db/api.py
  cinder/db/sqlalchemy/api.py
  cinder/db/sqlalchemy/models.py
  cinder/quota.py
  cinder/tests/unit/test_quota.py
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Fix quota usage duplicate entries
  cinder/db/sqlalchemy/api.py
  cinder/db/sqlalchemy/migrate_repo/versions/141_add_quota_usage_unique_constraint.py
  cinder/db/sqlalchemy/models.py
  cinder/tests/unit/db/test_purge.py
  cinder/tests/unit/test_db_api.py
  cinder/tests/unit/test_quota.py
  releasenotes/notes/quota-usage-duplicates-c00725089da7bbd8.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Update cinder manage quota commands
  cinder/cmd/manage.py
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Modify/Move project validation methods to api_utils
  cinder/api/api_utils.py
  cinder/api/v3/default_types.py
  cinder/quota_utils.py
  cinder/tests/functional/test_default_types.py
  cinder/tests/unit/api/contrib/test_quotas.py
  cinder/tests/unit/api/v3/test_default_types.py
  cinder/tests/unit/policies/test_default_volume_types.py
  cinder/tests/unit/test_quota_utils.py
  cinder/tests/unit/test_utils.py
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Fix: show volume by name for non-admins
  cinder/api/common.py
  cinder/tests/unit/api/test_common.py
  releasenotes/notes/fix-show-volume-non-admins-1bc5238398e73981.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Add release note about cgroups v1
  releasenotes/notes/cgroups-v1-status-note-b1eff0e1907aa0f2.yaml
Due: none

Update to pylint 2.7.4
  tox.ini
Due: openstack-tox-functional-py36, openstack-tox-pylint, openstack-tox-functional

Add releasenote for glance mTLS fix
  releasenotes/notes/mtls-fix-for-glance-api-calls-469b992adc5f49ff.yaml
Due: none

Add known issue note about encrypted volumes
  releasenotes/notes/wallaby-encryption-known-issues-4078b6b066e51553.yaml
Due: none

PowerMax Driver - Fix for deleting replication group
  cinder/tests/unit/volume/drivers/dell_emc/powermax/test_powermax_common.py
  cinder/tests/unit/volume/drivers/dell_emc/powermax/test_powermax_replication.py
  cinder/volume/drivers/dell_emc/powermax/common.py
  cinder/volume/drivers/dell_emc/powermax/rest.py
  releasenotes/notes/powermax-delete-replication-group-76656e96262201d5.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Reserve migrations for DB backports
  cinder/db/sqlalchemy/migrate_repo/versions/142_placeholder.py
  cinder/db/sqlalchemy/migrate_repo/versions/143_placeholder.py
  cinder/db/sqlalchemy/migrate_repo/versions/144_placeholder.py
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Drop lower-constraints job
  .zuul.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Bug fix for free space calculation
  cinder/tests/unit/volume/drivers/test_nimble.py
  cinder/volume/drivers/nimble.py
  releasenotes/notes/bug-1918229-0aa9fd75c5e843d5.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Open local image files with "rb" mode
  cinder/image/glance.py
  cinder/tests/unit/image/test_glance.py
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Add support for RBD fast-diff feature for backups stored in Ceph
  cinder/backup/drivers/ceph.py
  cinder/tests/unit/backup/drivers/test_backup_ceph.py
  releasenotes/notes/bug-1907964-9277e5ddec2abeda.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Remove uuid check/generate in service
  cinder/objects/service.py
  cinder/tests/unit/utils.py
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Pure Storage - bump version numbers for Xena
  cinder/volume/drivers/pure.py
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Backup manager: Synchronously call remove_export
  cinder/backup/manager.py
  cinder/volume/rpcapi.py
  releasenotes/notes/bug-1920237-backup-remove-export-race-941e2ab1f056e54c.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Tests: Don't assert notifier not called
  cinder/tests/unit/volume/test_volume.py
Due: none

Add ports filtering support to Dell EMC XtremIO driver
  cinder/tests/unit/volume/drivers/dell_emc/test_xtremio.py
  cinder/volume/drivers/dell_emc/xtremio.py
  doc/source/configuration/block-storage/drivers/dell-emc-xtremio-driver.rst
  releasenotes/notes/bug-1900979-xtremio-ports-filtering-e68f90d47f17a7d9.yaml
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15

Fix instance locality scheduler filter
  cinder/compute/nova.py
  cinder/scheduler/filters/instance_locality_filter.py
  cinder/tests/unit/scheduler/test_host_filters.py
Due: cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, cinder-tempest-plugin-lvm-lio-barbican, legacy-grenade-dsvm-cinder-mn-sub-volbak, cinder-tempest-lvm-multibackend, devstack-plugin-nfs-tempest-full, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse15
